li#copyright.el(class='text-h-400 flex flex-col gap-y-1')
  small.author(class='flex gap-x-0.5')
    | Developed by 
    a.name(href='https://github.com/dolf3131') Jeongbin Jo
  small.based-on(class='flex gap-x-0.5')
    | Based on 
    a.blog(href='https://github.com/pronist/hello') hELLO
    |  by 
    a.name(href='https://github.com/pronist') 정상수
    | .
